<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hướng dẫn tạo App Password</title>
    <style>
        h1
        {
            text-align: center;
        }
        p
        {
            padding-left: 15px;
            font-size: 26px;
        }
        .bold
        {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Hướng dẫn thiết lập App Password để gửi mail tự động</h1>
    <p><span class="bold">Bước 1:</span> Truy cập vào <a href="https://myaccount.google.com/apppasswords" target="_blank">trang Quản lý tài khoản GMail</a></p>
    <p><span class="bold">Bước 2:</span> Đăng nhập vào tài khoản Google của bạn.</p>
    <p><span class="bold">Bước 3:</span> Nhập "AppNghiPhep" vào ô Tên ứng dụng.</p>
    <p><img src="../../image/Buoc 3 Tao AppPass.png" alt=""></p>
    <p><span class="bold">Bước 4:</span> Nhấp vào "Tạo" để tạo mật khẩu ứng dụng.</p>
    <p><span class="bold">Bước 5:</span> Sao chép mật khẩu ứng dụng được tạo <span class="bold">(16 ký tự không có khoảng trắng)</span> và sử dụng nó trong ứng dụng của bạn để gửi mail tự động.</p>
    <p><img src="../../image/Buoc 5 Tao App Pass.png" alt=""></p>
    <p><span class="bold">Lưu ý:</span> Mật khẩu ứng dụng <span class="bold">không có khoảng trắng</span> và chỉ có thể được sử dụng một lần. Bạn cần giữ nó an toàn.</p>
    <p><img src="../../image/Luu y tao AppPass.png" alt=""></p>
</body>
</html>